* {
  font-family: "Lato",sans-serif;
  background-color:black;
  margin: 0;
  padding: 0;
  color: white;
}

.mmdesign-hero {
  height: 700px;
  position: relative;
}

.mmdesign-h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  font-weight: 700;
  text-align: center;
  color: white;
}

.mmdesign-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

.mmdesign-who {
  padding: 100px 20vw;
}

.mmdesign-h2 {
  color: white;
  font-size: 3vw;
  font-weight: 700;
}

.mmdesign-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 4px;
}

.mmdesign-col {
    flex: auto;
    max-width: auto;
    padding: 0 0px;
}

.mmdesign-names {
  padding: 0 0 8px 8px;
}

.mmdesign-what {
  padding: 100px 20vw;
}

.mmdesign-what p {
  font-size: 32px;
  text-decoration: underline;
  display: inline-block;
  padding: 24px;
}

.mmdesign-where {
  padding: 100px 20vw;
}

.mmdesign-dept {
  display: inline-block;
  box-sizing: border-box;
  width: 30%;
  height: 300px;
  border: 4px solid white;
  text-align: right;
  padding: 16px;
  float: left;
  margin: 4px;
  position: relative;
}

.mmdesign-dept p {
  font-size: 60px;
  word-wrap: break-word;
}
